<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720366874096-9d40d8fvj9ugcmh8gcmi3ash5262s7vd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720366874096-9d40d8fvj9ugcmh8gcmi3ash5262s7vd</string>
	<key>API_KEY</key>
	<string>AIzaSyAfyATmR78rHDwFdi9EuY7WmCdi9H00rVw</string>
	<key>GCM_SENDER_ID</key>
	<string>720366874096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tqniait.industrialSoooq</string>
	<key>PROJECT_ID</key>
	<string>industrial-sooq</string>
	<key>STORAGE_BUCKET</key>
	<string>industrial-sooq.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720366874096:ios:2b157f9d518dc75491c135</string>
</dict>
</plist>